<div class="map-container">
     <div *ngIf="options" class="map" leaflet [leafletOptions]="options" [leafletLayers]="layers"
          (leafletMapReady)="onMapReady($event)">
     </div>
     <div *ngIf="myOrders && myOrders.length != 0" class="tasks">
          <h2>Aufträge</h2>
          <mat-card class="order-card" *ngFor="let order of myOrders">
               <p>Name: {{ order.owner.name }}</p>
               <p>Liste: {{ order.list }}</p>
               <app-executed [order]="order" (executedOrder)="executeOrder($event)"></app-executed>
               <app-deliver [order]="order" (deliveredOrder)="deliverOrder($event)"></app-deliver>
          </mat-card>
     </div>
</div>
